// RANGES
// We use these functions to define ranges for various things, like media queries. 
@function lower-bound($range){
    @if length($range) <= 0 {
        @return 0;
    }
    @return nth($range,1);
}

@function upper-bound($range) {
    @if length($range) < 2 {
        @return 999999999999;
    }
    @return nth($range, 2);
}

// Calculate the percentage
@function grid-calc($colNumber, $totalColumns) {
    @return percentage($colNumber / $totalColumns);
}

// Proxies the "append" functionality
@function push($_obj, $_val, $_style:comma) {
    @return append($_obj, ($_val), $_style);
}

@function flatten($list) {
    $result: ();
    @each $item in $list {
        @if length($item) > 1 {
            $flatten: flatten($item);
            
            @each $i in $flatten {
                $result: append($result, $i, comma);
            }
        } @else {
            $result: append($result, $item, comma);
        }
    }
    @return $result;
}

@function flatten-list( $list )
{
    $normalised : ();

    @if $list != null {
        @if type-of( $list ) == list {
            @each $item in $list {
                @if $item == null {
                    $item : "null";
                }

                $normalised : join( $normalised, flatten-list( $item ), comma );
            }
        }
    }

    @else {
        $list : "null";
    }

    @return if( $normalised == (), $list, $normalised );
}

