@charset "UTF-8";
@import "compass/css3";

// @import "myapp"; // File should be called "_myapp.scss" - with custom overrides for settings variables
@import "seaessess/functions";
@import "seaessess/settings";
@import "seaessess/mixins/common";

// Custom for IE8
@import "seaessess/mixins/grid";

// Just use the "medium" size for <IE8
// Row size is also fixed to 90% of the row-width
.row {
    width: #{$row-width * 0.9};
    .row {
        width: auto;
    }
}

// Float the last one to align the RHS and account for rounding issues
.column.last-child, .columns.last-child { float: $default-opposite; }
.column.end, .columns.end { float: $default-float; }

// The order of the classes in the mark-up is important for <=IE8
@include grid-html-classes(small);

@include grid-html-classes(medium);
@for $i from 0 through $total-columns - 1 {
    .push-#{$i} {
        @include grid-column($push:$i, $collapse:null, $float:false);
    }
    .pull-#{$i} {
        @include grid-column($pull:$i, $collapse:null, $float:false);
    }
}

@include grid-html-classes(large);

// Resetting header sizes outside of media query - for interNOT Explorer ate
h1,h2,h3,h4,h5,h6 { line-height: $header-line-height; }
h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

// Get zebra rows happening - because IE
table tr.even td, table tr.alt td, table tr.even th, table tr.alt th { background-color: $table-even-row-bg; }
