@import "seaessess/settings";
/**
 * Globals
 */
@include exports("global") {

    meta.foundation-version { font-family: "/5.2.2/"; }
    meta.foundation-mq-small { font-family: "/" + unquote($small-up) + "/"; width: lower-bound($small-range); }
    meta.foundation-mq-medium { font-family: "/" + unquote($medium-up) + "/"; width: lower-bound($medium-range); }
    meta.foundation-mq-large { font-family: "/" + unquote($large-up) + "/"; width: lower-bound($large-range); }
    meta.foundation-mq-xlarge { font-family: "/" + unquote($xlarge-up) + "/"; width: lower-bound($xlarge-range); }
    meta.foundation-mq-xxlarge { font-family: "/" + unquote($xxlarge-up) + "/"; width: lower-bound($xxlarge-range); }
    meta.foundation-data-attribute-namespace { font-family: #{$namespace}; }

    html, body { height: 100%; }

    *, *:before, *:after {
        @include box-sizing(border-box)
    }

    html, body { font-size: 100%; }

    body {
        background: $body-bg;
        color: $body-font-color;
        padding: 0;
        margin: 0;
        font-family: $body-font-family;
        font-weight: $body-font-weight;
        font-style: $body-font-style;
        line-height: 150%;
        position: relative;
        -webkit-font-smoothing: antialiased;
        cursor: default;
    }

    a:hover { cursor: pointer; }

    img { max-width: 100%; height: auto; }
    img { -ms-interpolation-mode: bicubic; }
    img { display: inline-block; vertical-aign: middle; }

    #map_canvas, .map_canvas {
        img, embed, object { max-width: none !important; }
    }

    .left { float: left !important; }
    .right { float: right !important; }
    .clearfix { @include clearfix; }
    .hide { display: none; }

    textarea { height: auto; min-height: 50px; }
    select { width: 100%; }
}

